@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
	font-family: "Outfit", sans-serif;
	line-height: 1.5;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;

	color-scheme: light dark;
	color: #cbd5e1;
	background-color: #0f172a;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
}

body {
	min-height: 100vh;
	font-size: 25px;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.card {
	background-color: #1e293b;
	padding: 35px;
	border-radius: 10px;
}

.headline {
	text-align: center;
}

.headline p {
	font-size: 0.8em;
}

.form-options {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 1rem;
	width: 50vw;
}

.form-options input {
	padding: 14px;
	font-weight: bold;
	text-align: center;
	border: none;
	border-radius: 10px;
	width: 100%;
}

.form-options button {
	margin-top: 1rem;
	padding: 14px;
	background-color: #cbd5e1;
	font-size: 1rem;
	font-weight: bold;
	border: none;
	border-radius: 10px;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #020617;
		background-color: #fff;
	}
	.card {
		background-color: #cbd5e1;
	}
	.form-options button {
		background-color: #fff;
	}
}
